@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@200;300;400;700&display=swap');

:root {
  --color-white: #ffffff;
  --color-dark-blue: #070724;
  --color-dark-gray: #38384f;
  --color-light-gray: #838391;
  --color-dark-turquoise: #419ebb;
  --color-light-turquoise: #1ec2a4;
  --color-light-orange: #eda249;
  --color-dark-orange: #d14c32;
  --color-dark-purple: #6f2ed6;
  --color-dark-vulcan: #d83a34;
  --color-light-vulcan: #cd5120;
  --color-blue-ocean: #2d68f0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Antonio', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 80px;
  line-height: 103px;
  color: var(--color-white);
}

h2 {
  font-family: 'Antonio', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 35px;
  line-height: 52px;
  word-spacing: -1.5;
  color: var(--color-white);
}

h3 {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 2.6px;
  color: var(--color-white);
}

h4 {
  font-family: 'League Spartan', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 25px;
  letter-spacing: 1px;
  color: var(--color-white);
}

.logo-font {
  color: var(--color-white);
  font-size: 2rem;
  font-family: 'Antonio', sans-serif;
  letter-spacing: -1.05px;
  text-transform: uppercase;
}

li {
  color: var(--color-white);
  font-size: 14px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  list-style: none;

  height: 5rem;
  display: flex;
  align-items: center;
  border-top: solid 5px transparent;
  border-bottom: solid 5px transparent;
}

li:hover {
  cursor: pointer;
}

.regular-font {
  font-family: 'League Spartan', sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: var(--color-white);
}

body {
  font-family: 'League Spartan', sans-serif;
  font-size: 14px;
  line-height: 25px;
  background-color: var(--color-dark-blue);
  background-image: url('./assets/background-stars.svg');
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #ffffff30;
  align-items: center;
  padding: 0 3rem;
}

nav {
  width: 65%;
  height: 5rem;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

/*Animation each planet*/
.mercury-active {
  border-top: solid 5px var(--color-dark-turquoise);
  border-bottom: solid 5px transparent !important;
}

main {
  margin: 5rem 10rem;
}

.planet-section {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 60vh;
}

.planet-div {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet-image {
  transform: scale(0.7);
  z-index: 1;
}

.geology-planet-image {
  position: absolute;
  display: none;
  z-index: 2;
  transform: scale(0.4);
  margin-top: 20rem;
}

.info-planet-div {
  width: 38%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-planet-div p {
  font-family: 'League Spartan', sans-serif;
  font-size: 1rem;
  font-weight: 200;
  line-height: 25px;
  color: var(--color-white);
}

.link-wiki-div {
  color: #ffffff50;
  font-family: 'League Spartan', sans-serif;
  font-size: 1rem;
}

.link-wiki-div a {
  color: inherit;
  font-weight: 600;
  margin-right: 8px;
}

.link-wiki-div img {
  position: relative;
  top: 3px;
  margin-left: 0.4rem;
}

.buttons-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 32%;
}

.buttons-div button > span {
  color: #ffffff50;
}

.statistics-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.statistics-section div {
  border: solid 1px #ffffff30;
  padding: 1.4rem;
  text-align: left;
  width: 24%;
  height: fit-content;
  /* background-color: red; */
}

.statistics-section div > h5 {
  color: #ffffff50;
  font-size: 14px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.info-button {
  border-radius: 0;
  border: 0;
  text-align: left;
  padding: 8px 0 8px 24px;

  color: var(--color-white);
  font-size: 14px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
  border: solid 1px #ffffff50;
}

.info-button:hover {
  background-color: var(--color-light-gray);
  cursor: pointer;
}

.active {
  background-color: var(--color-dark-turquoise);
}

/* Responsive queries */

@media only screen and (max-width: 1200px) {
  main {
    margin: 5rem 4rem;
  }
  h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 920px) {
  header {
    flex-direction: column;
    padding-top: 2rem;
  }
  nav {
    width: 100%;
    height: 5rem;
  }
  li {
    margin-top: 1rem;
    border: solid 5px transparent !important;
  }

  .planet-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .planet-div {
    margin-top: -6rem;
    height: 35rem;
  }

  .info-planet-div {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 4rem;
  }

  .info-planet-div > div {
    width: 60%;
  }

  .buttons-div {
    width: 40%;
  }

  h2 {
    font-size: 20px;
  }
  .statistics-section > div > h5 {
    font-size: 8px;
  }
}

@media only screen and (max-width: 712px) {
  main {
    margin: 5rem 1rem;
  }
  header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 616px) {
  header {
    /* display: none; */
    display: flex;
    flex-direction: column;
    height: 40rem;
    padding: 0;
    background-color: red;
  }

  nav > ul {
    /* display: none; */
    position: absolute;
    margin-top: 1rem;
    flex-direction: column;
    gap: 1px;
    background-color: green;
  }

  nav > ul > li {
    font-size: 18px;
    border-bottom: solid 1px #ffffff30;
    list-style-type: circle;
  }

  main {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
}
