@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@300;400;500;600;700&family=League+Spartan:wght@200;300;400;600;700&display=swap');

:root {
  --color-neutral-100: #ffffff;
  --color-neutral-400: #838391;
  --color-neutral-700: #38384f;

  --color-background-900: #070724;

  --color-mercury: #419ebb;
  --color-venus: #eda249;
  --color-earth: #6f2ed6;
  --color-mars: #d14c32;
  --color-jupiter: #d83a34;
  --color-saturn: #cd5120;
  --color-uranus: #1ec2a4;
  --color-neptune: #2d68f0;

  --font-family-accent: 'Antonio', sans-serif;
  --font-family-base: 'League Spartan', sans-serif;

  --font-weight-x-light-200: 200;
  --font-weight-light-300: 300;
  --font-weight-regular-400: 400;
  --font-weight-medium-500: 500;
  --font-weight-semi-bold-600: 600;
  --font-weight-bold-700: 700;

  --font-size-x-small: 0.688rem;
  --font-size-small: 0.75rem;
  --font-size-medium: 0.875rem;
  --font-size-x-medium: 1.2rem;
  --font-size-large: 2.5rem;
  --font-size-x-large: 4rem;
  --font-size-xx-large: 5rem;

  --letter-spacing-small: -1.5px;
  --letter-spacing-medium: 1px;
  --letter-spacing-large: 2.6px;

  --line-height-small: 1.56rem;
  --line-height-medium: 4.5rem;
  --line-height-body: 3.25rem;
  --line-height-heading: 6.43rem;
}

/*CSS Reset
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-base);
  font-size: var(--font-size-medium);
  line-height: var(--line-height-body);
  background-image: url('./assets/background-stars.svg');
  background-color: var(--color-background-900);
  color: var(--color-neutral-100);
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Utils */
/* Hide everything */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1 {
  font-family: var(--font-family-accent);
  font-weight: var(--font-weight-bold-700);
  font-size: var(--font-size-xx-large);
  line-height: var(--line-height-heading);
  color: var(--color-neutral-100);
  text-transform: uppercase;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px var(--color-neutral-700);
  padding: 0 2rem;
}

.header__list {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold-700);
  font-size: var(--font-size-x-small);
  letter-spacing: var(--letter-spacing-medium);
}

.header__logo {
  font-family: var(--font-family-accent);
  font-size: var(--font-size-large);
  letter-spacing: var(--letter-spacing-small);
  text-transform: uppercase;
}

/*Active button*/
#planetItem.accent-mercury {
  border-top-color: var(--color-mercury);
}
#planetItem.accent-venus {
  border-top-color: var(--color-venus);
}
#planetItem.accent-earth {
  border-top-color: var(--color-earth);
}
#planetItem.accent-mars {
  border-top-color: var(--color-mars);
}
#planetItem.accent-jupiter {
  border-top-color: var(--color-jupiter);
}
#planetItem.accent-saturn {
  border-top-color: var(--color-saturn);
}
#planetItem.accent-uranus {
  border-top-color: var(--color-uranus);
}
#planetItem.accent-neptune {
  border-top-color: var(--color-neptune);
}

/* Buttons */
.header__list > button {
  text-decoration: none;
  background-color: transparent;
  appearance: none;
  border: none;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;

  font-family: var(--font-family-base);
  text-transform: uppercase;
  font-size: var(--font-size-small);
  letter-spacing: var(--letter-spacing-large);
  font-weight: var(--font-weight-semi-bold-600);
  line-height: var(--line-height-medium);
  color: var(--color-neutral-100);
  cursor: pointer;
}

#planetItem > img {
  display: none;
}
.circle {
  display: none;
}

#burger-menu {
  display: none;
}

/* Main sections */

.planet {
  margin: 7rem;
  display: flex;
  justify-content: space-between;
}

.planet__images {
  width: 40%;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet__secondary-image {
  position: absolute;
  transform: scale(0.4);
  top: 30rem;
}

.planet__main-image {
  position: absolute;
}

.info {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
}

.info__main-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.info__paragraph {
  font-family: var(--font-family-base);
  font-size: var(--font-size-x-medium);
  font-weight: var(--font-weight-light-300);
  line-height: var(--line-height-small);
  color: var(--color-neutral-100);
}

.wiki-div {
  display: flex;
  gap: 1rem;
  color: var(--color-neutral-400);
  font-family: var(--font-family-base);
  font-size: var(--font-size-x-medium);
}

.wiki-div a {
  display: flex;
  gap: 0.3rem;
  color: inherit;
  font-weight: var(--font-weight-semi-bold-600);
}

.buttons__div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.buttons__div button {
  appearance: none;
  text-align: start;

  background-color: transparent;
  border: solid 1px var(--color-neutral-700);
  color: var(--color-neutral-100);
}

/* Secondary Active buttons*/
button.secondary-accent-mercury {
  background-color: var(--color-mercury);
}
button.secondary-accent-venus {
  background-color: var(--color-venus);
}
button.secondary-accent-earth {
  background-color: var(--color-earth);
}
button.secondary-accent-mars {
  background-color: var(--color-mars);
}
button.secondary-accent-jupiter {
  background-color: var(--color-jupiter);
}
button.secondary-accent-saturn {
  background-color: var(--color-saturn);
}
button.secondary-accent-uranus {
  background-color: var(--color-uranus);
}
button.secondary-accent-neptune {
  background-color: var(--color-neptune);
}

.buttons__div button:hover {
  cursor: pointer;
}

.numberButton {
  color: var(--color-neutral-400);
  margin: 0 2rem;
}

.statistics {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  margin: 7rem;
}

.statistics div {
  border: solid 1px var(--color-neutral-700);
  padding: 1.4rem;
  text-align: left;
  width: 25%;
  /* background-color: red; */
}

.statistics__title {
  color: var(--color-neutral-400);
  font-size: var(--font-size-medium);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular-400);
  line-height: var(--line-height-small);
  letter-spacing: var(--letter-spacing-medium);
  text-transform: uppercase;
}

.statistics__value {
  font-family: var(--font-family-accent);
  text-transform: uppercase;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-regular-400);
}

/* Responsive queries */

@media only screen and (max-width: 1201px) {
  .planet {
    margin: 4rem;
    gap: 1rem;
  }
  .info__title {
    font-size: var(--font-size-x-large);
  }
  .statistics {
    margin: 4rem;
  }
}

@media only screen and (max-width: 920px) {
  .header {
    flex-direction: column;
    padding: 0;
  }
  .header__list {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    width: 100%;
  }

  /*Active button*/
  #planetItem.accent-mercury {
    color: var(--color-mercury);
  }
  #planetItem.accent-venus {
    color: var(--color-venus);
  }
  #planetItem.accent-earth {
    color: var(--color-earth);
  }
  #planetItem.accent-mars {
    color: var(--color-mars);
  }
  #planetItem.accent-jupiter {
    color: var(--color-jupiter);
  }
  #planetItem.accent-saturn {
    color: var(--color-saturn);
  }
  #planetItem.accent-uranus {
    color: var(--color-uranus);
  }
  #planetItem.accent-neptune {
    color: var(--color-neptune);
  }

  #planetItem {
    border: none;
  }

  .planet {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
  }

  .planet__main-image {
    position: relative;
  }
  .planet__secondary-image {
    top: 18rem;
  }

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
  }

  .info__main-info {
    width: 50%;
  }
  .buttons__div {
    width: 45%;
  }
  .numberButton {
    color: var(--color-neutral-400);
    margin: 0 1rem;
  }

  .statistics {
    margin: 0 2rem;
    gap: 1rem;
  }

  .statistics__title {
    font-size: var(--font-size-x-small);
  }
  .statistics__value {
    font-size: var(--font-size-x-medium);
  }
}

@media only screen and (max-width: 712px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
  }

  .header__logo {
    margin-left: 1rem;
  }

  .header__list {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    gap: 0.3rem;
    background-color: var(--color-background-900);
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 70rem;
    top: 6rem;
    margin: 0;
  }

  #planetItem {
    border-bottom: 1px solid var(--color-neutral-400);
    width: 100%;
    text-align: left;
    font-size: var(--font-size-x-medium);
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
  }
  #planetItem > img {
    position: absolute;
    right: 1rem;
    display: block;
    width: 0.6rem;
    margin-bottom: 0.4rem;
  }
  .circle {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-bottom: 0.25rem;
  }

  .header__mercury .circle {
    background-color: var(--color-mercury);
  }
  .header__venus .circle {
    background-color: var(--color-venus);
  }
  .header__earth .circle {
    background-color: var(--color-earth);
  }
  .header__mars .circle {
    background-color: var(--color-mars);
  }
  .header__jupiter .circle {
    background-color: var(--color-jupiter);
  }
  .header__saturn .circle {
    background-color: var(--color-saturn);
  }
  .header__uranus .circle {
    background-color: var(--color-uranus);
  }
  .header__neptune .circle {
    background-color: var(--color-neptune);
  }

  /*Active button*/
  #planetItem.accent-mercury {
    color: var(--color-neutral-100);
  }
  #planetItem.accent-venus {
    color: var(--color-neutral-100);
  }
  #planetItem.accent-earth {
    color: var(--color-neutral-100);
  }
  #planetItem.accent-mars {
    color: var(--color-neutral-100);
  }
  #planetItem.accent-jupiter {
    color: var(--color-neutral-100);
  }
  #planetItem.accent-saturn {
    color: var(--color-neutral-100);
  }
  #planetItem.accent-uranus {
    color: var(--color-neutral-100);
  }
  #planetItem.accent-neptune {
    color: var(--color-neutral-100);
  }

  #burger-menu:hover {
    cursor: pointer;
    filter: invert(50%);
  }

  #burger-menu {
    display: block;
    margin-right: 1rem;
  }

  .planet {
    display: flex;
    flex-direction: column-reverse;
    /* background-color: green; */
    padding: 0;
    width: 100%;
    margin: 0;
  }

  .info {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    margin: 0;
    gap: 30rem;
    width: 100%;
  }

  .info__main-info {
    width: 100%;
    padding: 0 1rem;
    text-align: center;
  }

  .wiki-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .planet__images {
    position: absolute;
    z-index: 2;
    top: 15rem;
  }
  .planet__secondary-image {
    top: 8rem;
  }

  .buttons__div {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
    border-bottom: solid 1px var(--color-neutral-700);
  }

  .buttons__div > button > span {
    display: none;
  }

  /* Secondary Active buttons*/
  #buttons___secondary.secondary-accent-mercury {
    color: var(--color-neutral-100);
    background: transparent;
    border-bottom-color: var(--color-mercury);
  }
  #buttons___secondary.secondary-accent-venus {
    color: var(--color-neutral-100);
    background: transparent;
    border-bottom-color: var(--color-venus);
  }
  #buttons___secondary.secondary-accent-earth {
    color: var(--color-neutral-100);
    background: transparent;
    border-bottom-color: var(--color-earth);
  }
  #buttons___secondary.secondary-accent-mars {
    color: var(--color-neutral-100);
    background: transparent;
    border-bottom-color: var(--color-mars);
  }
  #buttons___secondary.secondary-accent-jupiter {
    color: var(--color-neutral-100);
    background: transparent;
    border-bottom-color: var(--color-jupiter);
  }
  #buttons___secondary.secondary-accent-saturn {
    color: var(--color-neutral-100);
    background: transparent;
    border-bottom-color: var(--color-saturn);
  }
  #buttons___secondary.secondary-accent-uranus {
    color: var(--color-neutral-100);
    background: transparent;
    border-bottom-color: var(--color-uranus);
  }
  #buttons___secondary.secondary-accent-neptune {
    color: var(--color-neutral-100);
    background: transparent;
    border-bottom-color: var(--color-neptune);
  }

  .buttons__div > button {
    width: 100%;
    text-align: center;
    border: none;
    border-bottom: 0.5rem solid transparent;
    color: var(--color-neutral-400);
  }

  .statistics {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0 1rem;
  }

  .statistics > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 616px) {
}
